.container-navbar{
    width: 75%;
    margin: auto;
  }    
  
  h1 .title-banner{
    font-size: 30px;
    font-weight: 700;
  }
  
  .collapse ul li{
    display: inline;
  }
  
  .li-navbar li a{
    width: 151px;
    text-align: center;
    font-size: 16px;
  }
  
  .navbar-tablet{
    display: none;
  }
  
  .order{
    background-color: white;
    color: black;
    
  }
  @media (max-width: 1024px){
    .container-navbar{
      width: 85%;
      margin: auto;
    }
    .navbar{
      display: none !important;
    }
    .navbar-tablet{
      display: block;
    }
    .li-navbar{
      display: inline !important;
    }
    .li-navbar li::after{
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-left: 10%;
    }
    .li-navbar li:first-child::after{
      background: url('../svg/bullet-list-67.svg') no-repeat center;
    }
    .li-navbar li a{
      width: 50px;
      text-align: center;
      font-size: 16px;
      padding-top: 0;
    }
}
@media (max-width: 500px){
    .navbar-tablet{
      padding-top: 5% !important;
    }
    .li-navbar{
      padding-top: 15%;
    }
}